ALLOWED_DOMAINS=example.com
BROWSER_TRY_RESTART_PERIOD=3600000
CACHE_PATH=/app/cache
CACHE_STATUS_CODES=200,301,302,303,304,307,308,404
CACHE_TTL=86400
ENABLED_PLUGINS=addMetaTags,blockResources,browserForceRestart,fscache,removeScriptTags,whitelist
PAGE_LOAD_TIMEOUT=10000
PRERENDER_LOG_REQUESTS=false
TIMEOUT_STATUS_CODE=200
